@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-inline:12px;
    --dark-color:#90a955;
    --light-color:#ecf39e;
}

body{
    font-family: 'Poppins',sans-serif;
    color: black;
    background-color: #fefefe;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    
    font-size: 1.1rem;
    color:black;
    line-height: 1.8rem;
}
a{
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    color: black;
}

/* <----Utility Clases----> */
html {
    scroll-behavior:smooth;
    scroll-padding-top:100px;
  }
.flex{
    display: flex;
}
ul{
    list-style: none;
}
.container{
    max-width: 1250px;
    margin-inline: auto;
    overflow: hidden;
    
}
.line{
    height: 1.5px;
    opacity: 50%;
    background-color: var(--dark-color);
} 
.u{
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}
.underline:hover{
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}
.primary-button{
    background-color: var(--dark-color);
    border-radius: 6px;
    color:white !important;
    padding: 10px 20px;
    box-shadow: 0 5px 8px var(--dark-color);
    align-items: center;
}
.primary-button:hover{
    background-color: var(--dark-color);
    font-weight: 700;
    transition: 0.2s ease-in-out;
}
.arrow{
    display: none;
}
.primary-button:hover .arrow{
    display: contents;
    color: white !important;
    transition: 0.5s ease-in-out;
}



/*-----Top-Banner----- */
.top-ban-cont{
    justify-content: space-between;
    padding: 5px;
    user-select: none;
    
}
.top-ban-cont a{
    color: black !important;
}


.banner-social{
    align-items: center;
    gap: 10px;
}
.right-top-banner{
    gap: 10px;
}
.top-banner a{
    color: var(--dark-color);
}


/* -----Navbar------- */
nav{
    position: sticky;
    top: 0%;
    z-index: 9999;
    background-color: var(--dark-color);
    /* padding: var(--padding-inline); */
}
.nav-toggle{
    display: none;
}
.nav-cont{
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-inline);
    color: white !important;
    user-select: none;
}
.hoverlinks{
    gap: 40px;
}
.hoverlink{
    color: white !important;
    height: 30px;
}

/*-----Banner------*/

.banner{
    height: calc(100vh - 96px);
    background: url(Asset/bg2.png),linear-gradient(white,var(--light-color));
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
}

.banner-content{
    position: absolute;
    padding: var(--padding-inline);
    top: 30%;
    left: 50%;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}
.banner-head{
    flex-direction: column;
    gap: 0px;
}


/* -----services------ */
.services{
    margin: var(--padding-inline);
    overflow: auto;
}
.services-cont{
    padding: var(--padding-inline);
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.services-cont h2{
    user-select: none;
}
.service-cards{
    padding: var(--padding-inline);
    justify-content: space-between;
    flex-wrap: wrap;
}
.ser-card{
    width: 25%;
    text-align: center;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 8px;
    padding: var(--padding-inline);
    user-select: none;
    height: 380px;
}
.ser-card img{
    width: 100%;
    padding: var(--padding-inline);
    border-radius: 30px;
}
.service-cards .ser-card:nth-child(1),.service-cards .ser-card:nth-child(2),.service-cards .ser-card:nth-child(3){
    border-right: 1px solid var(--dark-color);
}


/* -------why us------- */
.whyus{
    background-color: var(--light-color);
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--light-color) 15px ), repeating-linear-gradient( #ffffff55, #ffffff );
    user-select: none;
}
.whyus-cont{
    flex-direction: column;
    gap: 25px;
    padding: var(--padding-inline);
}
.whyus-cont h2{
    padding: var(--padding-inline);
    text-align: center;
}
.reasons{
    padding: var(--padding-inline);
    flex-wrap: wrap;
}
.reasons-card{
    padding: var(--padding-inline);
    flex-direction: column;
    width: 25%;
    text-align: center;
    gap: 20px;
    
}
.reasons-card i{
    margin: var(--padding-inline);
    transform: scale(1.8);
}

/* -----about us----- */
.aboutus{
    margin: var(--padding-inline);
    padding: var(--padding-inline);
    user-select: none;
}
.aboutus-cont{
    text-align: center;
    padding: var(--padding-inline);
}

.aboutus-contents{
    align-items: center;
    text-align: justify;
    padding: var(--padding-inline);
}
.aboutus-img img{
    width: 100%;
    mix-blend-mode:darken;
}
.aboutus-img{
    width: 60%;
}
.aboutus-content{
    width: 100%;
}


/* ------App Banner------ */
.app_banner{
    background-color: var(--light-color);
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--light-color) 15px ), repeating-linear-gradient( #ffffff55, #ffffff );
}
.app-banner-cont{
    height: 500px;
    padding:30px;
    align-items: center;
    
}
.left-app{
    width: 40%;
    height: 90%;
    background: url(Asset/phone-view.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}
.right-app{
    width: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    user-select: none;
}
.download-btns{
    gap: 20px;
}
.download-btns a{
    width: 150px;
    height: 45px;
    box-shadow:0 3px 5px var(--dark-color);
    border-radius: 10px;
    mix-blend-mode:inherit;
}
.download-btns a:hover{
    transform: scale(1.03);
    transition: 0.2s all ease-in;
}
.download-btns a:nth-child(1){
    background: url(Asset/Google_Play_Store_badge_EN.svg-removebg-preview.png),black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.download-btns a:nth-child(2){
    background: url(Asset/appstore-removebg-preview.png),black; 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
}








/* -------testimonial-------- */
.testimonial{
    /* background-color: var(--light-color); */
} 
.test-cont{
    padding:20px var(--padding-inline);
    text-align: center;
    user-select: none;
}

.testi-card{
    text-align: center;
    padding:40px var(--padding-inline) ;
    display: none;
    animation: fadeIn 5s;
    animation-timing-function: ease-in;
    width: 100%;

}
.testi-cards{
    align-items: center;
    /* min-height to maintain container constant height throught the transition */
    min-height: 200px;  
}
.testicontent{
    padding: var(--padding-inline);
    align-items: center;
    justify-content: space-between;
    
}
.quote{
    width: 10%;
}
.testi-customer{
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 1; }
    70%{opacity: 1;}
    100% { opacity: 0; }
}



/* ------contact-us------- */
.contus-cont h2{
    text-align: center;
    padding: var(--padding-inline);
}
.contus-cont{
    padding: var(--padding-inline);
    user-select: none;
}
.contact{
    background-color: var(--light-color);
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--light-color) 15px ), repeating-linear-gradient( #ffffff55, #ffffff );
}
.info-head{
    align-items: center;

}
.info-head i{
    margin-right: 10px;
    color: var(--dark-color);
}

.info{
    padding: var(--padding-inline);
}
.contact-details{
    width: 50%;
    flex-direction: column;

}
.main-contact{
    width: 100%;
   justify-content: space-between;
   padding:20px var(--padding-inline);
   
}
.form-cont{
    flex-direction: column;
}
.contact-form{
    width: 50%;
    user-select: none;
}
input[type="text"],input[type="email"],input[type="tel"]{
    font-family: 'Poppins',sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    align-items: center;
    border: none;
  }

input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus{
    outline:none;
  }

textarea{
    font-family: 'Poppins',sans-serif;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 46px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
}
textarea:focus{
    outline:none;
}
.Sbtn{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1.3px solid var(--dark-color);
    cursor: pointer;
    box-shadow: 0 5px 8px var(--dark-color);
}
.Sbtn:hover{
    border: 1.3px solid var(--dark-color);
    font-weight: bolder;
}
/* -----location------ */
.loc{
    margin: var(--padding-inline);
    user-select: none;
}
.loc-cont{
    padding: var(--padding-inline);
}
.loc-cont h2{
    padding: var(--padding-inline);
    text-align: center;
}
.gmap{
    padding: var(--padding-inline);
    height: 300px;
    /* border: 1px solid var(--dark-color); */
}
.gmap iframe{
    border-radius: 20px;
    /* border: 2px solid black; */
    border: none;
}

/* -----footer------ */
.footer{
    background-color: var(--light-color);
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--light-color) 15px ), repeating-linear-gradient( #ffffff55, #ffffff );
}
.intrested-cont{
    justify-content: space-between;
    padding: var(--padding-inline);
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
}

.footer-logo{
    gap: 15px;
}
.footer-logo li a:hover{
    transform: scale(1.04);
    transition: 0.2s all ease-in;
}





